*
	margin 0
	border: 0
	padding 0
body
	background: #F1F1F1

.App
	display: block
	.App-title
		text-align center
.App__Body
	display flex
	width 100%
	.Avatars
		position relative
		padding 50px 10px
		width: 50%
	.Results
		position relative
		padding 50px 10px
		width: 50%
		