<%- include('header.ejs'); %>
	<div class="Content">
		<div class="Content_head">
			<h1>Pokemon aplication</h1>
		</div>		
		<div class="Content_body">
			
		</div>
		<div class="Content_footer"></div>
	</div>
<%- include('footer.ejs'); %>
