<%- include('header.ejs'); %>
	<div class="Content">
		<div class="Content_head">
			<h1>Pokemon aplication</h1>
		</div>		
		<div class="Content_body">
			
			<%if(datos["uri"]=="success"){%>
				<div id="app"></div>
			<%}else{%>
				<h2><%=datos["uri"]%></h2>
			<%}%>
		</div>
		<div class="Content_footer"></div>
	</div>
<%- include('footer.ejs'); %>
